<ul class='sv-breadcrumb'>
    <li><a href='#'><i class='fa fa-home fa-fw'></i></a></li>
    <li><a href='#'><i class='fa fa-male fa-fw'></i> Users</a></li>
    <li><a href='#'><i class='fa fa-database fa-fw'></i> Items</a></li>
    <li><a href='#'><i class='fa fa-cog fa-fw'></i> Config</a></li>
</ul>

<ul class='sv-breadcrumb'>
    <li><a href='#'><i class='fa fa-home fa-fw'></i></a></li>
    <li><a href='#'>Users</a></li>
    <li><a href='#'>Items</a></li>
    <li><a href='#'>Config</a></li>
</ul>