<div class='sv-tag default'>
    <span class='sv-tag__close'>×</span>
    <span class='sv-tag__content'>Tag Text Default</span>
</div>

<div class='sv-tag primary'>
    <span class='sv-tag__close'>×</span>
    <span class='sv-tag__content'>Tag Text Primary</span>
</div>

<div class='sv-tag danger'>
    <span class='sv-tag__close'>×</span>
    <span class='sv-tag__content'>Tag Text Danger</span>
</div>

<div class='sv-tag info'>
    <span class='sv-tag__close'>×</span>
    <span class='sv-tag__content'>Tag Text Info</span>
</div>

<div class='sv-tag warning'>
    <span class='sv-tag__close'>×</span>
    <span class='sv-tag__content'>Tag Text Warning</span>
</div>